<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Редактировать книгу</title>
</head>

<body>
    <h1>Редактировать книгу</h1>
    
    {% if form.errors %}
        <div class="alert alert-danger">
            <ul>
                {% for field in form %}
                    {% for error in field.errors %}
                        <li>{{ error }}</li>
                    {% endfor %}
                {% endfor %}
            </ul>
        </div>
    {% endif %}

    <form method="POST">
        {% csrf_token %}

        <div>
            <label for="{{ form.title.id_for_label }}">Название</label>
            {{ form.title }}
        </div>
        
        <div>
            <label for="{{ form.author.id_for_label }}">Автор</label>
            {{ form.author }}
        </div>
        
        <div>
            <label for="{{ form.price.id_for_label }}">Цена</label>
            {{ form.price }}
        </div>
        
        <div>
            <label for="{{ form.published_date.id_for_label }}">Дата публикации</label>
            {{ form.published_date}}
        </div>

        <button type="submit">Сохранить изменения</button>

    </form>
</body>
</html>
